@{
    ViewBag.Title = "Contact Us!";
}

<h3>Contact Us!</h3>
<p>
    To send your comments, concerns and questions to the good folks behind PatientAider, please use our 
    <a title="PatientAider Feedback Form" href="http://ftltech.org/Home/Support" target="_blank">online feedback form</a>.
</p>